body
{
	background-color:#999999;
	font-family: Verdana, Helvetica, Geneva, sans-serif;
	font-size:12px;
}

#mainnav
{
		background-color:grey;
		margin-left: auto;
		margin-right: auto;
		width: 975px;
		margin-top:20px;
		padding:1%;
		padding-bottom:500px;
}

.Banner
{
	background-color:#0000FF;
	margin-left: auto;
	margin-right: auto;
	font-size:18px;
	width:975px;
	height:325px;
	padding:1%;

}

.Navigation
{
	float:left;
	background-color:#000080;
	margin-left: 0%;
	width:175px;
	margin-top:5px;
	margin-bottom:5px;
	padding:10px;
	padding-bottom:10px;
	height:450px;
	
}

.Content
{
	position: absolute;
	margin-left: 215px;
	width:740px;
	background-color:#0096FF;
	margin-top:5px;
	padding:10px;
	color:black;
	font-size:15px;
	height:450px;
		
}

.Footer
{
	background-color:#89CFF0;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
	width:975px;
	padding:1%;

}
